{% extends 'base.html' %}


{% block title %}
    <title>편집</title>
{% endblock title %}
    

{% block content %}
<h1>Edit Blog</h1>
<form action="{% url 'blog:update' blog.id %}" method="POST">
    {% csrf_token %}
    제목 : <input type="text" name="title" value="{{blog.title}}">
    <br>
    작성자 : <input type="text" name="writer" value="{{blog.writer}}">
    <br>
    본문 : <textarea name="body" cols="10" rows="3">{{blog.body}}</textarea> 
    <input type="submit" value="작성">
</form>
{% endblock content %}
