<!doctype html>
<html>

   <head>
      <meta charset="utf-8">
      <title></title>
   </head>
   
   <body>
       <div align="center">
           <h1>WordCount 페이지입니다.</h1>
            <br><br>
            <h3>여기에 문장을 입력해주세요.</h3>
            <form action="result">
                <textarea name="text" placeholder="여기에 입력" cols="100" rows="30"></textarea>
                <br>
                <input type="submit" value="몇 단어?">
            </form>
            
            <div>
                <br><a href="http://127.0.0.1:8000">이전 페이지로</a>
            </div>
       </div>
       
   </body>
</html>